.searchResult {
  max-height: 8rem;
  display: flex;
  cursor: pointer;
  padding: 0.5rem;
}

.searchResult img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}

.resultDetails {
  margin-left: 0.5rem;
}
