.trending {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mySwiper {
  display: flex;
  width: 75%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
