.single-group {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: grey;
  font-family: Roboto;
}

.single-group-bg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.group-bg-blur {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  height: 100%;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.single-group-card {
  height: auto;
  max-height: 900px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  /* border: 1px solid orange; */
}

.event-title-cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: auto;
  /* border: 1px solid red; */
  background-color: white;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.single-group-cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: 80px;
  background-color: white;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.selected-user-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* .single-group-item-wrap {
  display: flex;
  align-items: ;
} */

.single-group-item {
}

.single-group-img {
  margin: 10px 20px;
  transition: 0.3s ease;
  /* border: 1px solid blue; */
}

.single-group-img:hover {
  transform: scale(1.07);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-content-title {
  padding: 10px;
}

.card-content-item {
  padding: 5px;
}

.grp-event-content {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  /* border: 1px solid red; */
  width: 100%;
  /* border: 1px solid green; */
}

/* .grp-event-text {
  width: 65%;
} */

.grp-event-title h3 {
  text-transform: capitalize;
  font-size: 15px;
  margin-bottom: 5px;
}

.grp-event-date-time {
  font-size: 12px;
  /* margin-bottom: 12px; */
  color: #f06543;
}

.grp-item {
  margin: 15px;
}
